.body {
	position: absolute;
	top: 4em; left: 0;
	width: 100%; height: 100%;
	background: $grey;
}

.body__nav {
	@include box-sizing(border-box);
	width: 20%;
	overflow-x: hidden;
	float: left;
	background: #E9E9E9;
	height: 100%;
	border-right: 1px solid white;

	&:after {
		width: 4%;
		height: 100%;
		position: absolute;
		top: 0; left: 0;
		border-right: 1px solid white;
		content: ' ';
	}

	@include breakpoint(portrait) {
		position: absolute;
		top: 0; left: 0;
		width: 60%;
		z-index: 2;

		&:after {
			width: 16%
		}
	}
	@include breakpoint(landscape) {
		position: absolute;
		top: 0; left: 0;
		width: 40%;
		z-index: 2;

		&:after {
			width: 16%
		}
	}

}

.body--nav-collapsed {
	@include breakpoint(desktop) {
		.body__content {
			width: 95.95%;
		}
		.body__nav {
			width: 4.05%;
			border-right: none;

			i {
				width: 100%;
			}

			span {
				opacity: 0;
				display: none;
			}
		}
	}
	@include breakpoint(portrait) {
		.body__content {
			@include transform(translate3d(50%, 0, 0));
		}
	}
	@include breakpoint(landscape) {
		.body__content {
			@include transform(translate3d(40%, 0, 0));
		}
	}
}


.body__nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.body__nav li {
	line-height: 2.2em;
	width: 100%;
	border-bottom: 1px solid white;

	&:hover {
		background: #CBCBCB;
		i {
			color: $red;
		}
	}
}

.body__nav i {
	width: 20%;
	text-align: center;
	color: #CBCBCB;

}

.body__nav li.active {
	i {
		color: #009657;
	}
}

.body__nav span {
	@include box-sizing(border-box);
	padding-left: 1em;
	width: 80%;
	color: #4B4B4B;
	text-shadow: 0 1px 0 white;
	font-size: .9em;
	overflow: hidden;
}

.body__nav a {
	text-decoration: none;
}