.top {
	background: $red;
	color: white; 
	height: 4em;
	position: relative; z-index: 4;
	a {
		color: white;
	}
}

.top__indicator {
	float: left;
	width: 4%;
	height: 4em;
	border-right: 1px solid white;
	@include breakpoint(portrait) {
		width: 8%;
	};
	@include breakpoint(landscape) {
		width: 6.25%;
	};

	a {
		line-height: 4em;
		display: block;
		text-align: center;
	}
}

.top__logo {
	float: left;
	@include box-sizing(border-box);
	width: 16%;
	height: 4em;
	border-right: 1px solid white;

	@include breakpoint(portrait) {
		width: 90%;
		border-right: none;
	};
	@include breakpoint(landscape) {
		width: 90%;
		border-right: none;
	};

	a {
		display: block;
		line-height: 4em;
		text-align: center;
	}

	svg {
		display: block;
		width: 80%;
		margin: 1.2em auto 0;
	}
}

.top__user {
	@include breakpoint(portrait) {
		display: none;
	};
	@include breakpoint(landscape) {
		display: none;
	};
	height: 3em;
	padding: 0.5em 0.6em 0 0;
	text-align: right;
	font-size: .9em;
	width: 100%;

	.media {
		float: right;

		.media__img {
			margin: 0 10px 0 20px !important;
		}
	}
}
