/**
 * Variables
 */
/**
 * Imports
 */
.top {
  background: #de004b;
  color: white;
  height: 4em;
  position: relative;
  z-index: 4; }
  .top a {
    color: white; }

.top__indicator {
  float: left;
  width: 4%;
  height: 4em;
  border-right: 1px solid white; }
  @media (max-width: 1024px) and (orientation: portrait) {
    .top__indicator {
      width: 8%; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .top__indicator {
      width: 6.25%; } }
  .top__indicator a {
    line-height: 4em;
    display: block;
    text-align: center; }

.top__logo {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 16%;
  height: 4em;
  border-right: 1px solid white; }
  @media (max-width: 1024px) and (orientation: portrait) {
    .top__logo {
      width: 90%;
      border-right: none; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .top__logo {
      width: 90%;
      border-right: none; } }
  .top__logo a {
    display: block;
    line-height: 4em;
    text-align: center; }
  .top__logo svg {
    display: block;
    width: 80%;
    margin: 1.2em auto 0; }

.top__user {
  height: 3em;
  padding: 0.5em 0.6em 0 0;
  text-align: right;
  font-size: 0.9em;
  width: 100%; }
  @media (max-width: 1024px) and (orientation: portrait) {
    .top__user {
      display: none; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .top__user {
      display: none; } }
  .top__user .media {
    float: right; }
    .top__user .media .media__img {
      margin: 0 10px 0 20px !important; }

.body {
  position: absolute;
  top: 4em;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f3f3f3; }

.body__nav {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 20%;
  overflow-x: hidden;
  float: left;
  background: #e9e9e9;
  height: 100%;
  border-right: 1px solid white; }
  .body__nav:after {
    width: 4%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-right: 1px solid white;
    content: ' '; }
  @media (max-width: 1024px) and (orientation: portrait) {
    .body__nav {
      position: absolute;
      top: 0;
      left: 0;
      width: 60%;
      z-index: 2; }
      .body__nav:after {
        width: 16%; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .body__nav {
      position: absolute;
      top: 0;
      left: 0;
      width: 40%;
      z-index: 2; }
      .body__nav:after {
        width: 16%; } }

@media (min-width: 1025px) {
  .body--nav-collapsed .body__content {
    width: 95.95%; }
  .body--nav-collapsed .body__nav {
    width: 4.05%;
    border-right: none; }
    .body--nav-collapsed .body__nav i {
      width: 100%; }
    .body--nav-collapsed .body__nav span {
      opacity: 0;
      display: none; } }
@media (max-width: 1024px) and (orientation: portrait) {
  .body--nav-collapsed .body__content {
    -webkit-transform: translate3d(50%, 0, 0);
    -moz-transform: translate3d(50%, 0, 0);
    -ms-transform: translate3d(50%, 0, 0);
    -o-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0); } }
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .body--nav-collapsed .body__content {
    -webkit-transform: translate3d(40%, 0, 0);
    -moz-transform: translate3d(40%, 0, 0);
    -ms-transform: translate3d(40%, 0, 0);
    -o-transform: translate3d(40%, 0, 0);
    transform: translate3d(40%, 0, 0); } }

.body__nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.body__nav li {
  line-height: 2.2em;
  width: 100%;
  border-bottom: 1px solid white; }
  .body__nav li:hover {
    background: #cbcbcb; }
    .body__nav li:hover i {
      color: #de004b; }

.body__nav i {
  width: 20%;
  text-align: center;
  color: #cbcbcb; }

.body__nav li.active i {
  color: #009657; }

.body__nav span {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 1em;
  width: 80%;
  color: #4b4b4b;
  text-shadow: 0 1px 0 white;
  font-size: 0.9em;
  overflow: hidden; }

.body__nav a {
  text-decoration: none; }

.body__content {
  float: left;
  width: 80%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  background: #f3f3f3;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
  -webkit-transition: all 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  -moz-transition: all 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 0.4s cubic-bezier(0.86, 0, 0.07, 1); }
  @media (max-width: 1024px) and (orientation: portrait) {
    .body__content {
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 3;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .body__content {
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 3;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); } }

.app {
  position: relative;
  width: 100%;
  *zoom: 1; }
  .app:before, .app:after {
    content: " ";
    display: table; }
  .app:after {
    clear: both; }

.app__bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4.4em;
  background: #e9e9e9; }
  .app__bar .media {
    padding: 0.7em 0 0 1em; }

.app__viewport {
  position: absolute;
  top: 4.4em;
  left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%; }

.viewport {
  padding: 1.5em 1em;
  width: 100%;
  overflow-y: scroll; }

.widgets {
  width: 95%;
  margin: 0 0 1em 0;
  *zoom: 1;
  overflow-x: hidden; }
  .widgets:before, .widgets:after {
    content: " ";
    display: table; }
  .widgets:after {
    clear: both; }

.widget__body {
  border-style: solid;
  border-color: lightgrey;
  border-width: 0 2px 2px 2px;
  background: white; }

.widget {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0.5em;
  float: left; }
  @media (min-width: 1025px) {
    .widget {
      width: 25%; } }
  @media (max-width: 1024px) and (orientation: portrait) {
    .widget {
      width: 95%; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .widget {
      width: 92%; } }

.widget--two-thirds {
  width: 66.6%;
  margin-bottom: 1em; }
  @media (max-width: 1024px) and (orientation: portrait) {
    .widget--two-thirds {
      display: none; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .widget--two-thirds {
      width: 100%; } }

.widget--news {
  width: 33.3%; }
  @media (max-width: 1024px) and (orientation: portrait) {
    .widget--news {
      width: 100%; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .widget--news {
      width: 100%; } }

.widget__header {
  background: #e6e6e6;
  line-height: 2em;
  padding: 0.4em 1em; }
  .widget__header .fa {
    margin-right: 1em; }
  .widget__header h2 {
    margin: 0;
    font-size: 1.2em;
    color: #484848; }

h1 {
  margin-top: 0; }

.widget__graph {
  background: #de004b;
  color: white;
  padding: 1em;
  overflow: hidden; }
  .widget--revenue .widget__graph {
    background: #58b38d; }
  .widget--fills .widget__graph {
    background: #ff8f33; }
  .widget--clicks .widget__graph {
    background: #3888c6; }
  .widget--conversions .widget__graph {
    background: #dd3856; }

.graph__desc {
  text-transform: uppercase;
  margin-top: 0;
  font-weight: normal;
  font-size: 0.8em; }

.graph__value {
  float: right;
  font-size: 1.4em; }

.graph__time {
  display: block;
  font-size: 0.8em;
  margin-bottom: 0.3em; }

.graph__diff {
  display: block;
  text-align: right;
  font-size: 0.8em;
  margin-bottom: 0.5em; }

.widget__body {
  *zoom: 1; }
  .widget__body:before, .widget__body:after {
    content: " ";
    display: table; }
  .widget__body:after {
    clear: both; }

.widget__body-container {
  padding: 1em; }

.big-chart {
  height: 21em; }

.stats__block {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
  height: 4em;
  background: white;
  border-style: solid;
  border-color: lightgrey;
  padding: 0.5em 1em; }
  .stats__block.top-left {
    border-width: 0 1px 1px 0; }
  .stats__block.top-right {
    border-width: 0 0 1px 0; }
  .stats__block.bottom-left {
    border-width: 0 1px 0 0; }
  .stats__block.bottom-right {
    border-width: 0; }
  .stats__block.bottom-full {
    width: 100%;
    border-width: 0; }

.stats__plus {
  color: #555555;
  font-weight: bold; }

.stats__type {
  font-size: 0.9em;
  color: #9c9c9c;
  line-height: 1em; }
  .stats__type small {
    display: block;
    margin-top: -0.2em; }

.graph {
  height: 3em;
  width: 125%; }

/**
 * News
 */
.news_item__header {
  font-size: 1em;
  margin: 0;
  color: #de004b; }

.news_item__body {
  border-bottom: 1px solid lightgrey;
  margin-bottom: 1em; }
  .news_item__body p {
    margin-top: 0;
    font-size: 0.9em; }

.media {
  display: table; }
  .media p {
    margin: 0; }
  .media .media__body {
    display: table-cell;
    vertical-align: middle; }
  .media .media__img {
    display: table-cell;
    width: 50px;
    margin: 0 20px 0 0; }
  .media.media--rev .media__img {
    margin: 0 0 0 20px; }

/**
 * Sensible defaults
 */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-family: 'proxima-nova', 'Helvetica', sans-serif; }

img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%; }
